/********************************************************************************************
    
    Stylesheet for littlelizzyv.github.io
    Author: Lizzy V
    
*********************************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

body {
    font-family: 'Open Sans', sans-serif;
}
.logo {
    margin: 0 auto;
}
img {
    max-width: 150px;
    max-height: 150px;
}

div.intro{
    margin: 0 auto;
    display: inline-block;
}

a {
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
}

a:link {
    color: #FC9F35;
}

a:visited {
    color: #6DD1A9;
}

a:hover {
    color: #6DD170;
}

/******************************************************************

                Responsive Part

******************************************************************/
@media only screen and (min-device-width: 300px) and (max-device-width: 480px) { 

        .logo {
            padding-bottom: 20px;
        }
        
        .intro{
            font-size: 1.5em;
        }
        
        a {
            font-size: 1.5em;
        }

}
