/********************************************************************************************
    
    Stylesheet for littlelizzyv.github.io
    Author: Lizzy V
    
*********************************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

body {
    font-family: 'Open Sans', sans-serif;
}
div.logo {
    position: relative;
}
div.logo img {
    position: absolute;
    left: 50%;

}
img {
    max-width: 100px;
    max-height: 100px;
}

div.intro{
    text-align: center;
    display: block;
    margin: 200px 0px;
}
