/********************************************************************************************
    
    Stylesheet for littlelizzyv.github.io
    Author: Lizzy V
    
*********************************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

body {
    font-family: 'Open Sans', sans-serif;
}
div {
    display: inline-block;
}

img {
    max-width: 30%;
}

.logo {

}

.intro{
    text-align: center;
}
